name: ffmpeg encode

on:
  push:

  workflow_dispatch:

jobs:
  encode:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Trigger script
        run: |
          bash f-new.sh
